<section class="content-header">
    <h1>
    Home
    <small>Optional description</small>
    </h1>
</section>
<!-- main content -->
<section class="content container-fluid">
    <!--------------------------------
    ! your page Content Here !
    ---------------------------------->
</section>